In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('classic')

In [3]:
df = pd.read_csv('bank_marketing.csv', delimiter = ';')

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,58.0,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44.0,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33.0,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47.0,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33.0,unknown,single,unknown,no,1,no,no,NaN,5,may,198,1,-1,0,unknown,no

In [5]:
df.shape

(45211, 17)

In [6]:
df.dtypes

age          float64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
deposit       object
dtype: object

In [9]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,43872.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.924781,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.610835,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [42]:
df.skew()

age          0.685238
balance      8.360308
day          0.093079
duration     3.144318
campaign     4.898650
pdays        2.615715
previous    41.846454
dtype: float64

In [43]:
df.groupby('deposit').size()

deposit
no     39922
yes     5289
dtype: int64

In [44]:
df.isnull().sum()

age          1339
job             0
marital         0
education       0
default      1306
balance         0
housing         0
loan            0
contact      1383
day             0
month           0
duration        0
campaign        0
pdays           0
previous        0
poutcome        0
deposit         0
dtype: int64

In [52]:
df[df.isnull().any(axis=1)]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
4,33.0,unknown,single,unknown,no,1,no,no,NaN,5,may,198,1,-1,0,unknown,no
16,45.0,admin.,single,unknown,NaN,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
21,NaN,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32.0,blue-collar,single,primary,NaN,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
28,NaN,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45148,22.0,student,single,secondary,NaN,2488,no,no,cellular,8,nov,449,2,38,10,other,yes
45158,NaN,student,single,unknown,no,2321,no,no,cellular,9,nov,600,2,99,5,failure,no
45166,41.0,unemployed,single,tertiary,no,79,no,no,NaN,9,nov,394,1,390,2,success,yes
45170,NaN,student,single,primary,no,245,no,no,telephone,10,nov,98,2,110,2,other,no
45195,68.0,retired,married,secondary,NaN,1146,no,no,cellular,16,nov,212,1,187,6,success,yes

In [68]:
###temporary
df['age'].fillna(value=df['age'].mean(), inplace = True)
df['default'].fillna(value= ' unknown', inplace = True)
df['default'].fillna(value= ' unknown', inplace = True)

In [94]:
### recasting to appropriate data type
df['age'] = df['age'].astype('int')
df['job'] = df['job'].astype('category')
df['marital'] = df['marital'].astype('category')
df['education'] = df['education'].astype('category')
df['contact'] = df['contact'].astype('category')
df['month'] = df['month'].astype('category')
df['poutcome'] = df['poutcome'].astype('category')